* {
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1rem 2rem;
}

h1.title {
  margin: 0; /* Remove the default margin */
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  transition: background-color 0.3s ease-in-out;
  background-color: #f4f4f4;
}
.filters, #searchForm {
  padding: 20px 40px;
}
.filter-item {
  width: 100%;
}
.filters {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}
label {
  margin-bottom: 10px;
}
select, input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 16px;
  appearance: none;
  background: #fff url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23ccc" d="M2 0L0 2h4zm0 5L0 3h4z"/></svg>') no-repeat right 0.75rem center/8px 10px;
  color: #333;
  transition: border-color 0.3s;
}
select:focus, input[type="text"]:focus {
  border-color: #007BFF;
  outline: none;
}
#providerContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 0 40px 40px;
}
.provider-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.provider-card:hover {
  opacity: 0.8;
}
button#themeToggle {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background: #fff;
  color: #007BFF;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
button#themeToggle:hover {
  background: #007BFF;
  color: #fff;
}
button#themeToggle:focus {
  outline: none;
}
.spinner {
  display: block;
  margin: 50px auto;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0,0,0,0.1);
  border-radius: 50%;
  border-top-color: #007BFF;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}
#categoryFilter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
}
.filter-item {
  padding: 10px;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
  flex: 1 0 20%;
  text-align: center;
  font-weight: bold;
}
.filter-item:hover {
  opacity: 0.8;
}
.filter-item.active {
  opacity: 0.8;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%, 100% {
      transform: rotate(0);
  }
  20%, 60% {
      transform: rotate(-25deg);
  }
  40%, 80% {
      transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
      animation: none;
  }
  .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
  }
}
